@import 'reset.css';
@import 'keep/keep.css';
@import "email/email.css"; /* Using a string */

* {
	box-sizing: border-box
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background-color: #e8e8e8;
}

/********** HELPERS **********/

.container {
	margin: 0 auto;
	max-width: 1000px;
}

.inline-list {
	list-style-type: none;
}

.inline-list li {
	display: inline-block;
}

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
	align-content: center;
}


/********** GENERAL **********/

/********** HEADER **********/

header {
	padding: 1em;
	background-color: #fb0;
	color: #000;
}

header h1 {
	font-size: 1.5em;
}

header a {
	text-decoration: none;
	color: #000;
}

header li {
	padding: 0 1em;
}

/********** MAIN **********/

main {
	margin: 1em auto;
}
