@import 'reset.css';
@import 'masonry.css';
@import 'notes/notes.css';
@import "email/email.css"; /* Using a string */

* {
	box-sizing: border-box
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background-color: #e8e8e8;
}

p {
	line-height: 1.5em;
}

img,
video,
audio {
	max-width: 100%;
	height: auto;
}

audio {
	min-height: 60px;
}

/********** HELPERS **********/

.container {
	margin: 0 auto;
	max-width: 1000px;
}

.inline-list {
	list-style-type: none;
}

.inline-list li {
	display: inline-block;
}

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.align-content-start {
	align-content: flex-start;
}

.align-content-center {
	align-content: center;
}

.align-content-end {
	align-content: flex-end;
}

.align-items-center {
	align-items: center;
}

.dropdown:hover > .dropdown-content {
	opacity: 1;
	visibility: visible;
}

.dropdown .dropdown-content {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

/********** HEADER **********/

header {
	padding: 1em;
	background-color: #fb0;
	color: #000;
}

header h1 {
	font-size: 1.5em;
}

header h1 img.logo {
	width: 38px;
    height: 38px;
    vertical-align: text-top;
}

header a {
	text-decoration: none;
	color: #000;
}

header li {
	padding: 0 1em;
}

/********** SEARCH **********/

header .search {
    margin: 0 auto;
    position: relative;
    display: flex;
}

header .search input,
header .search select {
	border: 0;
	background-color: rgba(255,255,255, 0.5);
	font-size: 1em;
	outline: 0px;
}

header .search input {
	width: 100%;
	min-width: 0;
	padding: 10px 30px 10px 50px;
}

header .search button {
    position: absolute;
    top: 50%;
    color: #818181;
    transform: translate(0, -50%);
    padding: 20px 0 20px 15px;
    border: 0;
    background: transparent;
    line-height: 1.25em;
    font-size: 1.25em;
}

header .search button:hover {
    color: black;
    cursor: pointer;
}


@media only screen and (max-width: 540px) {

	header {
		flex-flow: row wrap;
	}

	header .search {
		order: 3;
		flex-grow: 1;
		margin-top: 0.75em !important;
	}

	header .search input {
		width: 100%;
	}

}

/********** HOME **********/

.home > div {
	width: 100%;
	padding: 7em 0;
	border-bottom: 1px solid #aaa;
	text-align: center;
}

.home h2 {
    font-weight: 100;
	font-size: 2.5em;
    line-height: 1.5em;
    padding-bottom: 0.5em;
}

.home p {
	display: block;
	margin: 0 auto;
    padding-bottom: 1em;
	font-size: 1.1em;
	line-height: 1.5em;
	max-width: 50%;
}

.home a {
	color: #d93025;
	text-decoration: none;
}

.home .email {
	background-color: #fff;
}

.home .notes {
	background-color: #efefef;
}

.home .more {
	background-color: #fff;
}

@media only screen and (max-width: 540px) {
	.home p {
		max-width: 90%;
	}
}
