@import 'reset.css';
@import 'masonry.css';
@import 'notes/notes.css';
@import "email/email.css"; /* Using a string */

* {
	box-sizing: border-box
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	background-color: #e8e8e8;
}

p {
	line-height: 1.5em;
}

img,
video,
audio {
	max-width: 100%;
	height: auto;
}

audio {
	min-height: 60px;
}

/********** HELPERS **********/

.container {
	margin: 0 auto;
	max-width: 1000px;
}

.inline-list {
	list-style-type: none;
}

.inline-list li {
	display: inline-block;
}

.flex {
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.align-content-start {
	align-content: flex-start;
}

.align-content-center {
	align-content: center;
}

.align-content-end {
	align-content: flex-end;
}

.align-items-center {
	align-items: center;
}

.dropdown:hover > .dropdown-content {
	opacity: 1;
	visibility: visible;
}

.dropdown .dropdown-content {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

/********** HEADER **********/

header {
	padding: 1em;
	background-color: #fb0;
	color: #000;
}

header h1 {
	font-size: 1.5em;
}

header a {
	text-decoration: none;
	color: #000;
}

header li {
	padding: 0 1em;
}

header .search input {
	display: block;
	padding: 0.5em 1em;
	line-height: 1.5em;
	border-color: transparent;
	background-color: rgba(255,255,255,0.25);
	height: fit-content;
	width: 300px;
	max-width: 100%;
}

@media only screen and (max-width: 540px) {

	header {
		flex-flow: row wrap;
	}

	header .search {
		order: 3;
		flex-grow: 1;
		text-align: center;
		padding-top: 1.5em;
	}

	header .search input {
		width: 100%;
	}

}

/********** MAIN **********/

main {
	margin: 1em auto;
}
