.notes-app {
	background-color: #e8e8e8;
	padding: 0 1em;
}

.notes-app .note-type {
	position: relative;
	transition: 0.3s;
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
}

.notes-app .note-type:hover {
	transform: scale(1.025);
	box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px rgba(0,0,0,0.30);
}

.notes-app .note-type.marked {
	border-color: #888;
	border-radius: 5px;
}

/********** NOTES LIST **********/

.notes-list h3 {
	padding: 1em 0;
	font-weight: bold;
}

/********** NOTE ACTIONS **********/

.note-item-actions {
	position: relative;
	visibility: hidden;
	padding-top: 1em;
}

.notes-app .note-type:hover .note-item-actions {
	visibility: visible;
}

.note-item-actions i {
	cursor: pointer;
	color: #999;
}

.note-item-actions i:hover {
	color: #666;
}

.note-item-actions i.visible {
	visibility: visible;
	cursor: default;
}

.note-item-actions i.visible:hover {
	color: #ccc;
}

.note-item-actions i.info:hover {
	color: blue;
}

.note-item-actions i.danger:hover {
	color: red;
}

.note-item-actions i.pinned,
.note-item-actions i.marked {
	color: #000;
}

.note-item-actions i.colors .dropdown-content {
	position: absolute;
	right: 0;
    top: 2em;
}

.note-item-actions i.colors span {
	width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #eee;
}

.note-item-actions i.colors span:hover,
.note-item-actions i.colors span.selected {
	border-color: #000;
}

/********** ADD NOTES **********/

.notes-add {
	background-color: #fff;
	padding: 10px 0;
	display: inline-block;
	width: 600px;
	margin: 0 auto 2em;
	max-width: 100%;
}

.notes-add input {
	display: block;
	padding: 0.5em 1em;
	line-height: 1.5em;
	border-color: transparent;
	outline: none;
	height: fit-content;
    width: 100%;
    max-width: 100%;
}

.notes-add i {
	padding: 0.5em 0.5em;
	color: #ccc;
}

.notes-add i:hover,
.notes-add i.selected {
	color: black;
}

@media only screen and (max-width: 540px) {

	.notes-add {
		flex-direction: column-reverse;
		align-items: center;
	}

	.notes-add input {
		text-align: center;
	}

}