.notes-app {
	background-color: #e8e8e8;
	padding: 0 1em;
}

.notes-app .note-item {
	position: relative;
	transition: 0.3s;
}

.notes-app .note-item:hover {
	transform: scale(1.025);
	box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px rgba(0,0,0,0.30);
}

/********** ITEM ACTIONS **********/

.note-item-actions {
	visibility: hidden;
	padding-top: 1em;
}

.notes-app .note-item:hover .note-item-actions {
	visibility: visible;
}

/********** ADD ITEMS **********/

.notes-add {
	background-color: #fff;
	padding: 10px 0;
	display: inline-block;
	width: 600px;
	margin: 0 auto;
	max-width: 100%;
}

.notes-add input {
    display: block;
    padding: 0.5em 1em;
    line-height: 1.5em;
    border-color: transparent;
    outline: none;
    height: fit-content;
}

.notes-add i {
    padding: 0.5em 0.5em;
    color: #ccc;
}

.notes-add i.selected {
    color: black;
}
