.keep-app {
	background-color: #e8e8e8;
	padding: 0 1em;
}

.keep-app input {
    display: block;
	margin: 0 auto;
    padding: 0.5em 1em;
	line-height: 1.5em;
	border-color: transparent;
}

.keep-app .keep-item {
	position: relative;
	transition: 0.3s;
}

.keep-app .keep-item:hover {
	box-shadow: 0 0 0 0 transparent, 0 0 0 0 transparent, 0 2px 15px rgba(0,0,0,0.30);
}

.keep-item-actions {
	/* position: absolute;
	top: 0;
	right: 0; */
	visibility: hidden;
	padding-top: 0.5em;
}

.keep-app .keep-item:hover .keep-item-actions {
	visibility: visible;
}