/* EMAIL-APP-CMP */

.email-app {
    /* max-width: 1400px; */
    margin: 0 auto;
    background: #ffffff;
    padding: 10px 10px 30px 10px;
}

.email-app>.header {
    background: white;
    padding: 10px 0;
    border-bottom: 3px solid #f4f6f7;
    position: sticky;
    top: 0;
    z-index: 2;
}

.email-main-section {
    width: calc(100% - 250px);
}

.toggle-menu {
    display: none;
}

/* EMAIL-LIST-CMP  */

.email-list>ul>li {
    cursor: pointer;
}

.email-list>ul>li:not(:first-child) {
    border-top: 2px solid #e3e8ea;
}

.email-list>ul>li:last-child {
    border-bottom: 2px solid #e3e8ea;
}

.email-list>ul>li:hover .action {
    display: flex;
}

/* EMAIL-PREVIEW-CMP */

.email-preview {
    position: relative;
    background: white;
    display: flex;
    font-weight: bold;
    height: 50px;
    align-items: center;
    max-width: 100%;
    padding: 20px;
}

.email-preview.read {
    background: #f5f7f7;
    font-weight: normal;
}

.email-preview .from {
    flex: 0 0 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1rem;
    white-space: nowrap;
}

.email-preview .content .body {
    color: gray;
    height: 1rem;
}

.email-preview .sent-at {
    flex: 0 0 130px;
}

.email-preview .content {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1rem;
    white-space: nowrap;
}

.email-preview .sent-at {
    margin-left: auto;
    text-align: right;
    padding-right: 10px;
}

.email-preview .action {
    background: inherit;
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    padding-right: 30px;
    justify-content: center;
    align-items: center;
}

.email-preview .action li {
    width: 40px;
    color: #767676;
    cursor: pointer;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
}

.email-preview .action li:hover {
    color: black;
}
.email-preview .first-initial {
	display: none;
}

/* EMAIL-DEATILS-CMP */

.email-details {
    background-color: white;
    padding: 0px 20px 40px 20px;
    position: relative;
    /* flex: 0 0 75%;
    max-width: 75%; */
}

.email-details .header {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    align-items: baseline;
}

.email-details .header .subject {
    flex: 0 0 100%;
    font-size: 1.5rem;
    padding: 10px 0;
}

.email-details .header h2 {
    font-size: 1rem;
    margin-right: 10px;
    font-weight: bold;
}

.email-details .header p {
    color: gray;
}

.email-details .email-details-controls {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: inherit;
}

.email-details .email-details-controls>button {
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #767676;
}

.email-details .email-details-controls>button:hover {
    background-color: #e8e8e8;
    color: black;
}

.email-details .main-details {
    padding: 0px 20px;
    white-space: pre-line;
    text-indent: 0;
}

pre {
    text-indent: 0;
}

/* email-filter-cmp */

.email-filter {
    margin: 0 auto;
    width: 720px;
    position: relative;
    display: flex;
}

.email-filter input {
    min-width: 0;
    width: 100%;
    background-color: #f4f6f7;
    border: 0;
    padding: 11px 30px 11px 50px;
    font-size: 1.5rem;
}

.email-filter input:focus {
    background: white;
    outline: 3px solid#f4f6f7;
}

.email-filter i.fa-search {
    position: absolute;
    top: 50%;
    ;
    color: #818181;
    transform: translate(0, -50%);
    padding: 20px 0 20px 15px;
}

.email-filter i:hover {
    color: black;
    cursor: pointer;
}

.email-filter input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.email-filter .email-status label {
    width: 100%;
    display: block;
    cursor: pointer;
    padding: 20px 10px;
}

.email-filter h3 {
    /* width: 100px; */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
	padding: 10px;
	font-size: 1rem;
}

.email-filter h3 .email-status {
    position: absolute;
    top: 100%;
    right: -0;
    background: #fb0;
    width: 150px;
}

.email-filter h3 .email-status li:not(:last-child) {
    border-bottom: 1px solid black;
}

.email-app .wrapper {
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

/* EMAIL-MENU-CMP */

.email-menu {
    flex: 0 0 250px;
    max-width: 250px;
    width: 250px;
    position: sticky;
    top: 75px;
}

.email-menu ul {
    border-bottom: 1px solid #e3e8ea;
    padding-right: 5px;
}

.email-menu li {
    width: 100%;
    cursor: pointer;
    padding: 10px 30px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.email-menu li:hover {
    background-color: #f5f7f7;
}

.email-menu li.selected:hover,
.email-menu li.selected {
    background-color: #fce8e6;
    color: #d93025;
    font-weight: bold;
}

.email-list>ul {
    width: 100%;
    flex-wrap: wrap;
}

.email-list>ul li {
    width: 100%;
}

.email-menu>ul li i {
    margin-right: 10px;
    width: 18px;
}

.email-menu>ul li:not(.selected) i {
    color: #767676;
}

.email-menu .compose-btn {
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    background: white;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 50px;
    border: 0;
    color: #5f6368;
    cursor: pointer;
    margin: 20px;
    transition: all 0.4s;
}

.email-menu .compose-btn i {
    margin-right: 10px;
}

.email-menu .compose-btn:hover {
    color: #d93025;
}

.email-menu .close-menu {
    display: none;
}

.compose-btn-cmp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fb0;
    color: white;
    border-radius: 50%;
    padding: 15px;
    display: none;
}

/* EMAIL-COMPOSE-CMP */

.email-compose {
    border: 2px solid #f3f5f7;
    box-shadow: -2px 2px 10px 0 #ccc;
}

.email-compose .head {
    background-color: #404040;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 13px
}

.email-compose textarea {
    resize: none;
    text-indent: 0;
}

.email-compose div {
    position: relative;
}

.email-compose div.input::after {
    color: #929292;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%)
}

.email-compose div.input.send-to::after {
    content: 'To: '
}

.email-compose div.input.c-copy::after {
    content: 'Cc: '
}

.email-compose div.input.b-c-copy::after {
    content: 'Bcc: '
}

.email-compose div input {
    width: 100%;
    padding: 10px 5px 10px 40px;
    border: 0;
    border-bottom: 2px solid #f3f5f7;
}

.email-compose div input:focus {
    outline: none;
}

.email-compose div.subject input {
    padding-left: 10px;
}

.email-compose div.body textarea {
    width: 100%;
    height: 300px;
    padding-bottom: 70px;
    border: 0;
}

.email-compose div.body textarea:focus {
    outline: none;
}

.email-compose>div.body {
    position: relative;
}

.email-controls {
    position: absolute;
    bottom: 0;
    /* transform: translate(0, -100%); */
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.email-controls .delete {
    color: #767676;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.email-controls .delete:hover {
    color: black;
}

.email-controls .send-btn {
    color: white;
    background: #1a73e8;
    text-align: center;
    padding: 12px 17px;
    ;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.4s;
}

.email-controls .send-btn:hover {
    box-shadow: 0 1px 2px 0 rgba(26, 115, 232, 0.451), 0 1px 3px 1px rgba(26, 115, 232, 0.302);
    background-color: #297be6;
}

@media (max-width: 850px) {
    .email-main-section {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .email-menu {
        flex: 0 0 75%;
        max-width: 75%;
        width: 75%;
        position: fixed;
        z-index: 2;
        background: white;
        bottom: 0;
        top: 0;
        left: 0;
        display: none
    }
    .email-menu.open {
        display: block;
    }
    .toggle-menu {
        display: flex;
        cursor: pointer;
        width: 50px;
        height: 50px;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: #767676;
    }
    .email-app>.header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .email-filter {
        width: 85%;
        margin: 0;
        align-items: center
    }
    .email-menu .close-menu {
        position: absolute;
        right: -20px;
        width: 50px;
        height: 50px;
        top: 10vh;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(100%, 0);
        background: white;
        cursor: pointer;
        color: #767676;
    }
    .email-app {
        padding: 0;
    }
    .email-preview {
        flex-direction: column;
        align-items: flex-start;
        height: 100px;
		padding: 10px;
		padding-left: 80px;
    }
    .email-preview .from {
        flex-basis: 1em;
        width: 100%;
    }
    .email-preview .sent-at {
        position: absolute;
        top: 3px;
        right: 2px;
		font-size: 12px;
		color: blue;
    }
    .email-preview .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-basis: 100%;
        position: relative;
        top: 13px;
    }
    .email-preview .content .body {
        display: block;
        position: relative;
        flex-basis: 1em;
        top: 14px;
        left: -8px;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 1rem;
        white-space: nowrap;
    }
    .compose-btn-cmp {
        display: block;
        cursor: pointer;
	}
	.email-preview .first-initial {
		position: absolute;
		top:0;
		left: 15px;
		transform: translate(0, 50%);
		border-radius: 50%;
		color: white;
		background: yellow;
		width: 50px;
		height: 50px;
		font-size: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.myProgress {
    width: 90%;
    margin: 0 auto;
    background-color: #e9ecef;
    height: 20px;
    font: 1rem;
    position: relative
}

.myProgress p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myBar {
    width: 1%;
    height: 20px;
    text-align: center;
    background-size: 20px 20px;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent)
}